<h2 style="text-align:center;">
  The Leaderboard
</h2>
<div class="container mat-elevation-z8">
  <mat-table [dataSource]="dataSource" matSort>
    <!-- Rank Column -->
    <!-- <ng-container matColumnDef="rank">
      <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ rank + 1 }} </mat-cell>
    </ng-container> -->

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.user }} </mat-cell>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Score
      </mat-header-cell>
      <mat-cell *matCellDef="let data"> {{ data.score }} </mat-cell>
    </ng-container>

    <!-- Subject Column -->
    <ng-container matColumnDef="quiz">
      <mat-header-cell *matHeaderCellDef> Quiz </mat-header-cell>
      <mat-cell *matCellDef="let data">
        {{ data.subject | titlecase }}
      </mat-cell>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Date
      </mat-header-cell>
      <mat-cell *matCellDef="let data">
        {{ data.date | date: "fullDate" }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
