<mat-card class="example-card" *ngIf="questions">
  <h3>Question # {{ index + 1 }} of {{ questions.length }}</h3>

  <mat-card-subtitle> Number Correct: {{ correctAnswers }} </mat-card-subtitle>
  <mat-card-content>
    <p>{{ questions[index].question }}</p>
  </mat-card-content>
  <mat-radio-group class="example-radio-group" [(ngModel)]="response">
    <mat-radio-button
      class="example-radio-button"
      *ngFor="let choice of questions[index].choices"
      [value]="choice"
    >
      {{ choice }}
    </mat-radio-button>
  </mat-radio-group>

  <mat-card-actions class="submit-button">
    <button
      mat-raised-button
      color="primary"
      (click)="submitChoice(response)"
      [style.visibility]="isAnswered === true ? 'hidden' : 'visible'"
    >
      Submit
    </button>
  </mat-card-actions>

  <!--- TODO: remove from DOM instead of changing visability -->
  <button
    mat-raised-button
    color="accent"
    style="float:right;"
    (click)="nextQuestion(index + 1)"
    [style.visibility]="isAnswered === false ? 'hidden' : 'visible'"
  >
    Next Question
  </button>
  <mat-card-footer class="card-footer" *ngIf="correctAnswer == 'no'">
    <h2 style="text-align:center;">
      Sorry, that's incorrect.
      <img src="assets/images/badge-x.svg" height="40" width="40" />
    </h2>
  </mat-card-footer>
  <mat-card-footer class="card-footer" *ngIf="correctAnswer == 'yes'">
    <h2 style="text-align:center;">
      Great Job!
      <img src="assets/images/badge-check.svg" height="40" width="40" />
    </h2>
  </mat-card-footer>
</mat-card>
