.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.example-card {
  margin: auto;
  margin-top: 50px;
  max-width: 750px;
  text-align: left;
}

.submit-button {
  margin-top: 15px;
}
