<div class="subjects-component">
  <h2 style="text-align:center;">
    The Subjects
  </h2>
  <mat-grid-list
    cols="3"
    rowHeight="fit"
    gutterSize="10px"
    class="subjects-grid-list"
  >
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
  </mat-grid-list>
</div>
