<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar><a href="/" class="appName">CodeQuiz</a></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item routerLink="/subjects" routerLinkActive="active"
        >Subjects</a
      >
      <a mat-list-item routerLink="/leaderboard" routerLinkActive="active"
        >Leaderboard
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>code-quiz</span>
    </mat-toolbar>
    <!-- <h1 style="text-align:center">Welcome to code-school!</h1> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
