.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a.active {
  color: #3f51b5;
  background-color: rgba(0, 0, 0, 0.05);
}
.appName {
  color: black;
  text-decoration: none;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 50%;
}
