/* You can add global styles to this file, and also import other style files */

/* font-family: 'Tajawal', sans-serif;
font-family: 'Indie Flower', cursive; */
html,
body {
  height: 100%;
}
body {
  margin: 0;
}

p {
  font-family: 'Tajawal', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Indie Flower';
}
