<mat-card class="home-card">
  <mat-card-header>
    <div mat-card-avatar class="home-card-image"></div>
    <mat-card-title>
      Welcome to CodeQuiz!
    </mat-card-title>
    <mat-card-subtitle>
      <h2>
        To get started, enter your name and select the subject you wish to test.
      </h2>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="userForm" class="home-form">
      <mat-form-field>
        <input matInput placeholder="Enter a name" formControlName="name" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Subject</mat-label>
        <mat-select formControlName="subject">
          <mat-option *ngFor="let subject of subjects" [value]="subject.value">
            {{ subject.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        color="primary"
        type="submit"
        (click)="startQuiz(userForm.value)"
      >
        Submit
      </button>
    </form>
  </mat-card-content>
</mat-card>
